* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner-fluid {
  opacity: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 1.5rem;
  color: rgb(109, 105, 248);
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}
h1 h5,
h1 h6,
h2 h5,
h2 h6,
h3 h5,
h3 h6,
h4 h5,
h4 h6 {
  text-align: left;
  padding: 1.5rem;
  color: rgb(109, 105, 248);
  margin-left: 1.5rem;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}

.subtitulos {
  padding: 1.5rem;
  color: rgb(109, 105, 248);
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

ul {
  min-width: 390px;
  display: flex;
  min-width: 390px;
  flex-direction: column;
  list-style: none;
  color: rgb(98, 95, 224);
  margin-left: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin: auto;
  flex-wrap: wrap;
}

.nav_item {
  align-self: center;
  width: 390px;
  padding: 1.5rem;
  color: rgb(237, 243, 114);
  display: grid;
  flex-wrap: wrap;
  inline-size: auto;
  flex-direction: row;
  list-style: none;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgb(199, 193, 193);
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}

.kata {
  display: flex;
  margin-left: 1.5rem;
  padding: 1.5rem;
  list-style: none;
  color: rgba(255, 247, 96, 0.915);
  text-align: start;
}

.nav_item:hover {
  text-shadow: 3px 2px 2px gold;
  filter: brightness(120%);
}

p {
  margin-left: 1.5rem;
  padding: 1.5rem;
  color: rgb(109, 105, 248);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.galeriaimg {
  text-align: center;
  color: rgb(98, 95, 224);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 80%;
  width: 80%;
  margin: auto;
  font-weight: bold;
  box-sizing: border-box;
}

body {
  min-width: 390px;
  display: flex;
  size-adjust: 80%;
  background-image: url(/Imgs/dojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: x-large;
  font-weight: bold;
  background-color: #ebedf1;
  text-shadow: 3px 3px 3px black;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
}
body header {
  min-width: 390px;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  align-items: center;
  text-decoration-color: rgb(98, 95, 224);
  padding: 1.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  margin-top: 50px;
}
body main {
  min-width: 390px;
  grid-row: auto;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.col-md-2-col-xl-6 {
  box-sizing: border-box;
}

.Pgaleria {
  justify-items: center;
}

.img-senseimaroli {
  min-width: 390px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 50px;
}
.img-senseimaroli .sensei {
  display: flex;
  flex-direction: column;
  color: rgb(98, 95, 224);
  margin-left: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  text-decoration: underline;
  margin-left: 3px;
  box-sizing: border-box;
}

.senseimaroli {
  flex-direction: column;
  min-width: 390px;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
}

.trayectoriasensei {
  color: rgb(98, 95, 224);
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  font-weight: bold;
  text-align: auto;
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
  height: 390px;
  margin-bottom: 100 px;
}

.carousel {
  margin: 50px;
}

.map-container {
  text-align: left;
  padding: 50px;
}

.videos {
  min-width: 390px;
  text-align: center;
  padding-left: 18%;
}
.videos .vytd-rich-grid-row {
  min-width: 390;
  padding: 50px;
  margin-left: 50px;
  align-items: center;
  display: grid;
  flex-direction: row;
  align-items: center;
}

.contacto {
  min-width: 390px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  color: rgb(98, 95, 224);
  padding: 20px;
  margin: 20px;
  margin-inline: 10px;
}

/*Variables*/
/* partials*/

/*# sourceMappingURL=Proyecto.css.map */
