* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner-fluid {
  opacity: 90%;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 1.5rem;
  color: blanchedalmond;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}
h5,
h6 {
  text-align: left;
  padding: 1.5rem;
  color: blanchedalmond;
  margin-left: 1.5rem;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}

.subtitulos {
  padding: 1.5rem;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
.nav_item {
  align-self: center;
  width: auto;
  padding: 1.5rem;
  color: rgb(237, 243, 114);
  display: grid;
  flex-wrap: wrap;
  inline-size: auto;
  flex-direction: row;
  list-style: none;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}
.nav_item:hover {
  text-shadow: 3px 2px 2px gold;
  filter: brightness(120%);
}

p {
  margin-left: 1.5rem;
  padding: 1.5rem;
  color: rgb(246, 247, 166);
  text-shadow: 3px 3px 3px rgb(52, 71, 249);
}
.galeriaimg {
  text-align: center;
  color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 80%;
  width: 80%;
  margin: auto;
  font-weight: bold;
  box-sizing: border-box;
}
header {
  min-width: 390px;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
  align-items: center;
  text-decoration-color: rgb(98, 95, 224);
  padding: 1.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  margin-top: 50px;
}

body {
  display: flex;
  min-width: 390px;
  size-adjust: auto;
  background-image: url(/Imgs/dojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: x-large;
  font-weight: bold;
  background-color: #ebedf1;
  text-shadow: 3px 3px 3px black;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
}

main {
  min-width: 390px;
  grid-row: auto;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

ul {
  text-align: center;
  align-items: center;
  display: flex;
  min-width: 390px;
  flex-direction: row;
  list-style: none;
  color: whitesmoke;
  margin-left: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin: auto;
  flex-wrap: wrap;
}

.col-md-2-col-xl-6 {
  box-sizing: border-box;
}

.Pgaleria {
  justify-items: center;
}
.img-senseimaroli {
  min-width: 390px;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 50px;
}

.senseimaroli {
  flex-direction: row;
  min-width: 390px;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
}
.sensei {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-shadow: 2px 2px 2px blue;
  text-decoration: underline;
  margin-left: 3px;
  box-sizing: border-box;
}

.trayectoriasensei {
  color: cadetblue;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  font-weight: bold;
  text-align: auto;
  box-sizing: border-box;
}

.vytd-rich-grid-row {
  min-width: 390;
  padding: 50px;
  margin-left: 50px;
  align-items: center;
  display: grid;
  flex-direction: row;
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: 390px;
  margin-bottom: 100 px;
}
.carousel {
  margin: 50px;
}

.map-container {
  text-align: left;
  padding: 50px;
}

.videos {
  min-width: 390px;
  text-align: center;
  padding-left: 18%;
}

.conteiner-fluid {
}
