* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 1.5rem;
  color: whitesmoke;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}
h5,
h6 {
  text-align: left;
  padding: 1.5rem;
  color: whitesmoke;
  margin-left: 1.5rem;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
}

.subtitulos {
  padding: 1.5rem;
  color: whitesmoke;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
.nav_item {
  padding: 1.5rem;
  color: darkgrey;
  display: inline-flex;
  flex-wrap: wrap;
  inline-size: auto;
  flex-direction: row;
  list-style: none;
  text-decoration: underline;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
}
.nav_item:hover {
  text-shadow: 3px 2px 2px gold;
  filter: brightness(120%);
}

p {
  margin-left: 1.5rem;
  padding: 1.5rem;
  color: whitesmoke;
  text-shadow: 3px 3px 3px black;
}

header {
  font-weight: bold;
  text-align: center;
  text-decoration-color: whitesmoke;
  padding: 0.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  margin-top: 50px;
}

body {
  background-image: url(Imgs/dojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: x-large;
  font-weight: bold;
  background-color: #6b6c6e;
  text-shadow: 3px 3px 3px black;
  box-sizing: border-box;
}

main {
  margin-bottom: 40px;
}

ul {
  list-style: none;
  color: whitesmoke;
  margin-left: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  margin: auto;
}

.col-md-2-col-xl-6 {
  box-sizing: border-box;
}
.img-senseimaroli {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-bottom: 50px;
  position: relative;
}
.senseimaroli {
  min-width: 390px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
}
.sensei {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-shadow: 2px 2px 2px blue;
  text-decoration: underline;
  margin-left: 3px;
  box-sizing: border-box;
}

.trayectoria-sensei {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
}
.imagenes {
  list-style: row;
  size-adjust: 200px;
}
section {
  text-align: left;
}
